#page{
    height: auto;
    width: 1000px;
    background-position: center center;
    margin: 0 auto;
}

#header{
    height: 150px;
    width: auto;
    background-image: url('img/pattern.png');
    background-repeat: repeat;
    background-size: contain;
    background-color: dodgerblue;
}

#name{
    height: 50px;
    width: 300px;
    background-image: url('img/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25% 75%;
}

h1{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 3px;
}

#author{
    color: rgb(150, 150, 150);
    margin: 0;
    font-weight: bold;
}

#society{
    color: dodgerblue;
}

#date{
    color: rgb(150, 150, 150);
    margin: 0;
    font-size: 11px;
}

.photo{
    height: 400px;
    width: 450px;
    margin-top: 10px;
}

.didascalia{
    margin: 0;
    font-size: 10px;
}

figure{
    margin: 0;
}

.text{
    background-color: yellow;
}

ul{
    margin: 0;
}

table{
    margin-top: 10px;
    border-spacing: 0;
}

thead{
    background-color: dodgerblue;
    color: white;
}

.first-second{
    width: 25%;
}

.third{
    width: 45%;
}

.row{
    background-color: #1ddeed;
}

h4{
    color: #9d9797;
}

.image{
    background-image: url('img/monitor.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    margin-bottom: 10px;
}
